@import url(https://1.www.s81c.com/common/carbon/plex/sans.css);
/* Button */
.button {
    all: unset;
    height: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    min-width: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

  }

.button > h6 {

}

.button-secondary {
background-color: #000;
}

.button-secondary:hover {
background-color: #2E2E2E;
}

.button-primary {
background-color: #0053ff;
}

.button-primary:hover {
background-color: #1f70ff;
}

.button h6 {
color: #fff;
font-size: 12px;
}
  
a:hover {
    text-decoration: none;
    color: #fff;
}
/* Button */
.button {
    all: unset;
    height: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    min-width: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

  }

/* .button > h6 {

} */

.button-secondary {
background-color: #000;
}

.button-secondary:hover {
background-color: #2E2E2E;
}

.button-primary {
background-color: #0053ff;
}

.button-primary:hover {
background-color: #1f70ff;
}

.button h6 {
color: #fff;
font-size: 12px;
}
  
a:hover {
    text-decoration: none;
    color: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border:  1px dashed #007AFF; */
  
  }
  
  body {
    background-color: #fff;
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    position: relative;
  }

h1 {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    font-family: "IBM Plex Sans";
    line-height: 1.4;
  }

h2 {
font-weight: 600;
font-size: 28px;
text-align: left;
font-family: "IBM Plex Sans";
line-height: 1.4;
}
  
h4 {
font-weight: 600;
font-size: 18px;
line-height: 1.5;
color: #000;
font-family: "IBM Plex Sans";


}

h5 {
font-size: 14px;
font-family: "IBM Plex Sans";
font-style: normal;
font-weight: 600;
line-height: 1.5;
}

h6 {
font-size: 12px;
font-family: "IBM Plex Sans";
font-style: normal;
font-weight: 500;
line-height: 1.5;
}

p {
font-weight: 400;
font-size: 12px;
font-family: "IBM Plex Sans";
text-align: left;
color: #000;
line-height: 1.5;

}

li {
font-weight: 400;
font-size: 12px;
font-family: "IBM Plex Sans";
text-align: left;
color: #000;
line-height: 1.5;
}

ul {
list-style-position: inside;
}

small {
font-weight: 400;
font-size: 12px;
font-family: "IBM Plex Sans";
text-align: left;
color: #000;
line-height: 1.5;

}

a {
font-weight: 500;
font-size: 12px;
text-align: center;
font-family: "IBM Plex Sans";
text-align: left;
color: #000;
text-decoration: none;
line-height: 16px;
}

a:hover {
color: #007AFF;
}
  
/* Navigation */
.app-nav-container {
    width: 100vw;
    top: 0;
    z-index: 1000;
    height: 50px;
    background-color: #000;
  }

.app-nav {
  height: 100%;
  background: transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.app-nav a {
  color: #fff;
  font-size: 12px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.app-nav a:hover {
  color: #7BBAF1;
}

.nav-link-container {
  width: 100vw;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 35px
}

.nav-icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  cursor: pointer;

}

@media (max-width: 900px) {
  .nav-link-container .nav-icons {
    display: none;
  }
  .nav-links > a {
    display: none;
  }
}

/*# sourceMappingURL=main.97fb7d10.css.map*/