/* Button */
.button {
    all: unset;
    height: 30px;
    padding: 0px 15px 0px 15px;
    border-radius: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    min-width: 20px;
    width: fit-content;

  }

.button > h6 {

}

.button-secondary {
background-color: #000;
}

.button-secondary:hover {
background-color: #2E2E2E;
}

.button-primary {
background-color: #0053ff;
}

.button-primary:hover {
background-color: #1f70ff;
}

.button h6 {
color: #fff;
font-size: 12px;
}
  
a:hover {
    text-decoration: none;
    color: #fff;
}